* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

/*********HEADER***********/
.header {
    /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(/assets/test_bg_1.jpg); */
    background-color: #e18d32;
    width: 100%;
    height: 60px;
    background-size: cover;
    background-position: center;
    /* mobile -> 48px */
}

.header-name a {
    color: #E7E7E7;
    font-size: 38px;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: italic;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8% 0 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav ul li a:hover, .header-name a:hover{
    /* color: #ea1539; */
    color: #C13450;
    transition: .3s;
}

.resume {
    border: none;
    background: green;
    padding: 12px 28px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    transition: .4s;
}

.resume:hover {
    background-color: #ea1539;
    transform: scale(1.2);
    cursor: pointer;
}

/* .main-nav li a {
    color: white;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    opacity: 0.8;
    padding: 5px 15px;
    line-height: 60px;
} */
/*********HEADER***********/

/*********INTRO************/
#intro {
    background-color: aqua;
    width: 100%;
    height: 50%;
}

.picture-div {
    background-color: red;
    height: 100%;
    width: 38%;
    float: right;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#intro-img {
    height: 80%;
    border-radius: 50%;
    margin-left: 15px;
}

@media only screen and (max-width: 800px) {
    #logo-navbar {
        float: left;
        height: 45px;
        width: 45px;
        margin: 7.5px 0px 7.5px 10px;
    }
    
    .nav-options {
        float: right;
        height: 100%;
        margin-right: 10px;
    }

    .main-nav li a {
        /* color: white;
        font-size: 16px;
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        text-decoration: none;
        line-height: 60px; */
        padding: 5px 8px;
        /* opacity: 0.8; */
    }
}